@import "~bootstrap/dist/css/bootstrap.css";
.Container{
    background: linear-gradient(45deg,azure,purple);
    padding: 50px,9%;
    padding-bottom: 100px;
} 
html{
    background-image: url(./GenreImages/Fantasy.jpg);
    background-image: url(./GenreImages/Fiction.jpg);
    background-image: url(./GenreImages/Mystery.jpg);
    background-image: url(./GenreImages/NonFiction.jpg);
    background-image: url(./GenreImages/romance.avif);
    background-image: url(./GenreImages/Horror.webp);
    margin: 0px;
    margin-top: 0px;
    
}
p{
    padding-top: 50px;
}
.title{
    text-align: center;
    padding-bottom:20px;
    padding-top: 80px;
    color: aliceblue;
    text-shadow: 0 5px 10px rgba(0,0,0, .2);
}
.cardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
}
.Card{
    cursor: pointer;
    display: inline-block;
    border-radius: 15px;
    border: solid;
    padding: 15px;
    margin: 25px;
    box-sizing: border-box;
    transition:background-image 1s ,color 0.2s;
    box-sizing: border-box;
    box-shadow:  8px 8px 8px rgba(0,0,0, 0);
    background-size: contain;
    background-repeat: no-repeat;
}
.clickedCard{
    background:linear-gradient(30deg,rgb(128, 0, 51),rgb(240, 246, 255));
}
.Card:hover{
    box-sizing: border-box;
    box-shadow:  8px 8px 8px rgba(0,0,0, 3);
    background-size: contain;
    background-repeat: no-repeat;
    text-shadow: 10px 10px 10px rgba(0,0,0, .9)S;
    color: white;
}
button{
    display: inline-block;
    color: white;
    border: none;
    text-align: center;
    margin-left: 550px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    background-color: purple;
    border-radius: 18px;
    transition: background-color 0.2s, color 0.2s,box-shadow 0.2 ;
    cursor: pointer;
    box-shadow: 8px 8px 8px rgba(0,0,0, 0.6);
}
button:hover{
    color: black;
    background-color: rgb(234, 142, 234);

}
button:active{
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 9px;
    padding-bottom:9px;
    box-shadow: 8px 8px 8px rgba(0,0,0, .9);
}
*{
    margin: 0px;
    padding: 0px;
}
.text-success{
    padding-top: 10px;
    margin-left: 550px;
}