<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./login.component.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="formPage" >
    <div class="loginContainer">
        <form [formGroup]="loginForm">
            <h1>Login</h1>
            <div class="formGroup">
                <label for="userName">UserName</label>
                <input type="text" class="form-control" formControlName="userName">
                <p class="alert-danger" *ngIf="loginForm.controls['userName'].errors && loginForm.controls['userName'].touched ">
                    username is required
                </p>
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" >
                <p class="alert-danger" *ngIf="loginForm.controls['password'].errors?.['required'] && loginForm.controls['password'].touched">
                    Password is required
                </p>
                <button class="LoginButton" (click)="loginUser()" >Login</button>
                <label >click <span class="here" (click)="routeToRegistrationForm()" > here </span> to Register</label>
            </div>
        </form>
    </div>
</div>
</body>
</html>
