<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./register.component.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="RegistrationFormContainer">
        
        <div class="formBox">
           
            <form [formGroup]="RegistrationForm"> 
          
                <label for="UserName">UserName</label>
                <input type="text" formControlName="UserName">
                <label for="Email">Email</label>
                <input type="text" formControlName="Email">
                <label for="password">Password</label>
                <input type="password" formControlName="password">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" formControlName="confirmPassword">
                <button>Register</button>
                <p (click)="routeToLogin()"  class="already">I already have an account</p>
              
            </form>
    </div> 
    </div>
</body>
</html>
